a{
    background-color: aquamarine;
 margin-right: 10px;
}

.element{
    display: none;

}
#Dropdown{
    display:inline;
    background-color: honeydew;

}
#Dropdown:hover .element{
    display: block;
    background-color: indianred;
}

  
